/*CSS FOR BUTTONS*/
button{
  background-color: lime;
  color: black;
  border-style: none;
  width: 100px;
  height: 30px;
  margin: 0px 10px 0px 10px;
}

button:hover{
  background-color: black;
  color: lime;
}

.hardMode2 button{
  background-color: red;
  color: black;
  border-style: none;
  width: 100px;
  height: 30px;
  margin: 0 10px 0 10px;
}

.hardMode2 button:hover{
  background-color: black;
  color: red;
}

.hardModeDifficulty button{
  background-color: red;
  color: black;
  border-style: none;
  width: 100px;
  height: 30px;
  margin: 0px 10px 0px 10px;
}

.hardModeDifficulty button:hover{
  background-color: black;
  color: red;  
}

#clickButton{
  background-color: red;
  color: black;
  height: 30px;
  width: 50px;
  animation: none;
}

#clickButton:focus{
  background-color: black;
  border-width: 1px;
  border-color: red; 
}

/*CSS FOR MAIN PAGES*/
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  clear: both;
  position: relative;
}

.hidden{
  color: lime;
  position: fixed;
  top: 0;
  left: 0;
}

#BodyOfPage{
  font-family: "Courier";
  color: lime;
  text-align: center;
  font-size: 50px;
  margin-top: 20px; 
  font-family: "Courier";
  height: 100%;
  width: 100%;
}

.UnderButtons{
  color: red;
  text-align: center;
  font-size: 50px;
}

.ChancesLeft, .LettersGuessed{
  color: lime;
  text-align: center;
  font-size: 20px;
  font-family: "Courier";
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.HardLettersGuessed{
  color: red;
  text-align: center;
  font-size: 20px;
  font-family: "Courier";
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.hardMode{
  color: red;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end);
}

.hardMode2{
  color: red;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 5s steps(60, end);
}

.hardMode3{
  color: red;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}


.hardModeDifficulty{
  color: red;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 7s steps(60, end);
}


body{
  background: #000;
  padding-top: 10px;
} 

h1{
  color: lime; 
  font-family: "Courier";
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 4s steps(60, end);
}

.first{
  color: lime;
  }

.StartPage,.first,.hardMode{
  font-family: "Courier";
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end); 
}

.chooseDifficulty{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type2 8s steps(60, end);
}


/*TEXT ANIMATION*/
span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; }

} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}